@model TicketBookingDemo.Models.TravelAgent
@{
    ViewBag.Title = "AddTravelAgent";
}

<h2>AddTravelAgent</h2>

@using (Html.BeginForm("AddTravelAgent", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.AgentId, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.AgentId, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.AgentId, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Agencyid, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Agencyid, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Agencyid, "", new { @class = "text-danger" })
    </div>

    <!-- Add more fields as needed for the Travel Agent details -->

    
        <input type="submit" value="Create" />
    
}

